@model Access.Models.ViewModels.CreateCustomerViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Customer Create List</h2>
@using (Html.BeginForm("AddOrEdit", "Customer", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "Submit" }))
{
    @Html.AntiForgeryToken();
    <div class="form-group row">
        @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
        </div>
    </div>
     <div class="form-group row">
        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
        </div>
    </div>
      <div class="form-group row">
        @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
        </div>
    </div>
      <div class="form-group row">
        @Html.LabelFor(model => model.ActiveStatus, htmlAttributes: new { @class = "form-control-label col-md-2" })
          <div class="col-md-4">
              @Html.CheckBoxFor(model => model.ActiveStatus)
              @Html.ValidationMessageFor(model => model.ActiveStatus, "", new { @class = "text-danger" })
          </div>
      </div>
       <div class="form-group row">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
      </div>

       <div class="form-group row">
        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
        </div>
      </div>
       <div class="form-group row">
        @Html.LabelFor(model => model.Email01, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Email01, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email01, "", new { @class = "text-danger" })
        </div>
      </div>
       <div class="form-group row">
        @Html.LabelFor(model => model.Email02, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Email02, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email02, "", new { @class = "text-danger" })
        </div>
      </div>
       <div class="form-group row">
        @Html.LabelFor(model => model.Email03, htmlAttributes: new { @class = "form-control-label col-md-2" })
         <div class="col-md-4">
            @Html.EditorFor(model => model.Email03, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email03, "", new { @class = "text-danger" })
         </div>
       </div>

       <div class="form-group row">
        @Html.LabelFor(model => model.Email04, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Email04, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email04, "", new { @class = "text-danger" })
        </div>
      </div>
       <div class="form-group row">
        @Html.LabelFor(model => model.Contact01, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Contact01, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Contact01, "", new { @class = "text-danger" })
        </div>
      </div>
       <div class="form-group row">
        @Html.LabelFor(model => model.Contact02, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Contact02, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Contact02, "", new { @class = "text-danger" })
        </div>
      </div>
       <div class="form-group row">
            @Html.LabelFor(model => model.Contact03, htmlAttributes: new { @class = "form-control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Contact03, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact03, "", new { @class = "text-danger" })
            </div>
       </div>
        <div class="form-group row">
        @Html.LabelFor(model => model.Contact04, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Contact04, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Contact04, "", new { @class = "text-danger" })
        </div>
      </div>
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Create" />
            </div>
            @Html.ActionLink("Back to Customer List", "Index")
        </div>
}
<script src="~/Scripts/dateImg.js"></script>

